<!DOCTYPE html>
<html lang ="ja">
    <head>
        <body>
            <div>
                メールアドレス
                {{ member.email }}
            </div>
            <div>
                パスワード
                {{ member.password }}
            </div>
        </body>
    </head>
</html>
